/.classpath
/.project
/.settings
/target/DifferenceScreens
/target/generated-test-sources
/target/screensLayoutErrors
/target/test-classes
/target/errors.txt
lastrun/
*.prefs
*.zip
/eclipse
/.metadata
/test-output
.idea
webdriver.iml
/bin
/logs
/helpStuff/task.txt
*.iml